{% extends 'base.html.twig' %}

{% block title %}{{ 'change_password.title'|trans({}, 'login') }}{% endblock %}

{% block body %}
    <h1>{{ 'change_password.title'|trans({}, 'login') }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message|trans({}, 'login') }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.newPassword.first) }}
    {{ form_row(changePasswordForm.newPassword.second) }}
    <button class="btn btn-primary">{{ 'change_password.submit'|trans({}, 'login') }}</button>
    {{ form_end(changePasswordForm) }}
{% endblock %}