
{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_list'|trans({}, 'tag')  }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_list'|trans({}, 'tag')  }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <a class="btn btn-dark" href="{{ url('tag_create') }}" title="{{ 'action.create'|trans({}, 'tag') }}">
                {{ 'action.create'|trans({}, 'tag') }}
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans({}, 'tag') , 'tag.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans({}, 'tag') , 'tag.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans({}, 'tag') , 'tag.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans({}, 'tag') , 'tag.title') }}</th>
                <th>{{ 'label.view'|trans({}, 'tag')  }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.createdAt|format_date('long') }}</td>
                    <td>{{ tag.updatedAt|format_date('long') }}</td>
                    <td>{{ tag.title }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ 'action.action'|trans({}, 'tag') }}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if is_granted('TAG_VIEW', tag) %}
                                <li><a class="dropdown-item" href="{{ url('tag_view', {id: tag.id}) }}" title="{{ 'action.view'|trans({}, 'tag') }}">
                                        {{ 'action.view'|trans({}, 'tag') }}
                                    </a>
                                </li>
                                {% endif %}
                                {% if is_granted('TAG_EDIT', tag) %}
                                <li><a class="dropdown-item" href="{{ url('tag_edit', {id: tag.id}) }}" title="{{ 'action.edit'|trans({}, 'tag') }}">
                                        {{ 'action.edit'|trans({}, 'tag') }}
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                {% if is_granted('TAG_DELETE', tag) %}
                                <li>
                                    <a class="dropdown-item" href="{{ url('tag_delete', {id: tag.id}) }}" title="{{ 'action.delete'|trans({}, 'tag') }}">
                                        {{ 'action.delete'|trans({}, 'tag') }}
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans({}, 'tag')
        } %}
    {% endif %}
{% endblock %}
